.archive {
    width: 100%;
}

.archive > * {
    font-size: 16px;
}

.icon {
    width: 2.5em;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-size: larger;
}

.link {
    width: 3em;
}

/* Fix for links colouring not working */
a {
    color: #357edd;
    transition: color .15s ease-in;
}

a:focus, a:hover {
    color: #96ccff;
    transition: color .15s ease-in;
}

li {
    text-align: left;
}
